:root {
    --font-fam: 'DM Sans', sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
    --primary-color: #3E677C;
    --secondary-color: #08B16B;
    --background-color: #95BCCB;
    --text-color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-fam);
    background-color: #f0f0f0;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.header-section {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 50px;
}

.header-content {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content img {
    width: 300px;
    height: auto;
    left: 200%;
}

.header-content h2 {
    font-size: 2.5em;
    font-weight: bold;
    color: var(--primary-color);
    max-width: 500px;
}

.background-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: var(--background-color);
    border-radius: 50%;
    z-index: 1;
}

.about-us-section {
    background-color: #375567;
    padding: 30px;
    border-radius: 20px;
    width: 80%;
    max-width: 800px;
    color: var(--text-color);
    margin-bottom: 50px;
    z-index: 2;
}

.about-us-section h3 {
    font-size: 1.7em;
    color: var(--secondary-color);
    margin-bottom: 20px;
    text-align: center;
}

.about-us-section p {
    text-align: justify;
}

.features-section {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
}

.feature-card {
    width: 300px;
    background-color: #b0d4e3;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.icon-box {
    background-color: #6b9ba6;
    border: 2px dashed #000;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    top: -30px;
}

.icon-box img {
    font-size: 40px;
    color: #fff;
}

.icon-box p {
    color: #fff;
    font-weight: bold;
    margin: 10px 0 0 0;
}

.feature-card .content {
    color: #2c3e50;
    font-size: 14px;
}

/* Media Queries para pantallas más pequeñas */
@media (max-width: 768px) {
    .header-content h2 {
        font-size: 2em;
    }

    .features-section {
        flex-direction: column;
        align-items: center;
    }

    .feature-card {
        width: 80%;
        margin-bottom: 20px;
    }
}
